.main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: rgb(159, 157, 157);
    height: 300px;
    width: 50%;
    margin: 50px;
    
}
.txt{
    color: white;
    margin-right: 140px;

}
.field{
    height: 30px;
    padding-right: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: rgb(234, 231, 231);
}
.btn{
    height: 32px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: rgb(26, 135, 26);
}
.btn:hover{
    background-color: rgb(25, 150, 25);
}

input:focus{
    outline: none;
}


